---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Foto from "../img/foto.jpg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="relative">

		<Navbar></Navbar>

		<div class="hero min-h-screen index">
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
				<div class="max-w-md">
					<h1 class="mb-5 text-5xl font-bold">Bienvenido a JMV Arequipa</h1>
				</div>
			</div>
		</div>
		
		<div class="bg-white w-full h-[60rem]">

		</div>


		<Footer></Footer>

		</div>
	</body>
</html>

<style>


.index {
	background-image: url(../img/foto.jpg);
}
</style>